.s1{
    background-color: rgb(245, 240, 230); 
    display: inline-block;
    max-width: 100%;
    font-size: 35px;
}
.s2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    display: grid;
    max-width: 100%;
    font-size: 35px;
}

.s1 img{
    max-width: 100%;
}

.s2 img{
    max-width: 100%;
}

.grid-container{
    background-color: rgb(245, 240, 230); 
    display: inline-grid;
    column-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item1{
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
    grid-column: 1;
    grid-row: 2/4;
    font-size: 35px;
}

.grid-item2{
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
    grid-column: 2;
    grid-row: 2/4;
    font-size: 35px;

}

.grid-item3{
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
    grid-column: 3;
    grid-row: 2/4;
    font-size: 35px;

}
.grid-item4{
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
    grid-column: 4;
    grid-row: 2/4;
    font-size: 35px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 28px;
}

li a:hover {
    background-color: #182b49;
    color: white;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
}

#navbar img {
    max-width: 400px;
}

#Section1 {
    scroll-margin-top: 198px;
}

#Section2 {
    scroll-margin-top: 198px;
}

#Section3 {
    scroll-margin-top: 198px;
}

@media screen and (max-width: 800px) {
    ul a {
        display: none;
    }  
    #navbar img{
        max-width: 75%;
    }  
    h1{
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
    .grid-item1{
        grid-area: 2/1;
    }
    
    .grid-item2{
        grid-area: 2/2;
    }
    
    .grid-item3{
        grid-area: 3/1;
    }
    .grid-item4{
        grid-area: 3/2;
    }

}